/* === CONFIGURAÇÃO GERAL === */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: #fff;
    color: #222;
    font-size: 20px;
  }
  
  
  /* === CORES PERSONALIZADAS === */
  :root {
    --lume-verde: #ABD977;
  }
  
  .bg-success,
  .btn-success,
  .circ,
  .draw,
  .faixa,
  .navbar {
    background-color: var(--lume-verde) !important;
  }
  
  .text-success {
    color: var(--lume-verde) !important;
  }
  
  
  /* === MENU === */
  .navbar {
    padding: 15px 30px;
  }
  
  
  /* === FAIXAS === */
  .faixa {
    background-color: var(--lume-verde);
    position: absolute;
    z-index: 0;
    border-radius: 2px;
  }
  
  .faixa-bottom {
    width: 225px;
    height: 20px;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 8px;
  }
  
  .faixa-left {
    width: 20px;
    height: 225px;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 8px;
  }
  
  .faixa-top {
    width: 225px;
    height: 20px;
    top: -20px;
    right: 0;
    border-radius: 8px;
  }
  
  
  /* === RODAPÉ === */
  footer {
    background: #ffffff;
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
    font-size: 18px;
    flex-wrap: wrap;
  }
  
  .footer_itens {
    margin: 10px;
    text-align: center;
  }
  
  .foot_icons {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 5px;
    font-size: 24px;
  }
  
  /* === RESPONSIVIDADE === */
  @media (max-width: 768px) {
    footer {
      flex-direction: column;
      text-align: center;
    }
  
  }

  .conteudo-wrapper {
    display: flex;
    background-color: #ABD977; /* cor das colunas */
    padding: 50px 0;
}

.conteudo-wrapper::before,
.conteudo-wrapper::after {
    content: "";
    flex: 1;
    background-color: #ABD977; /* lateral */
}

.conteudo-central {
    flex: 2;
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    max-width: 900px;
    margin: 0 auto;
    text-align: justify;
}

  